{% extends 'dashbord_index.html' %}
{% load static %}
{% block dashbord %}


<div class="content-body">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="active-member">
                            <div class="table-responsive">
                                <table class="table table-xs mb-0">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Service</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for doctor in doctor_list %}
                                    <tr>
                                        <td><a href="{% url 'dashbord:doctors_update' doctor.id %}">{{ doctor.id }}</a></td>
                                        <td>{{ doctor.user.first_name }}</td>
                                        <td>{{ doctor.user.last_name }}</td>
                                        <td>{{ doctor.user.email }}</td>
                                        <td>{{ doctor.service }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}