{% extends 'dashbord_index.html' %}
{% load static %}
{% block dashbord %}
<div class="content-body">
    <div class="container-fluid mt-3">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-group row">
                                    {% if not field.is_hidden %}
                                    <label class="col-lg-4 col-form-label" for="{{ field.id_for_label }}">{{ field.label }} <span class="text-danger">*</span>
                                    </label>
                                    {% endif %}
                                    <div class="col-lg-6">
                                        {{ field }}
                                    </div>
                                </div>
                                {% endfor %}
                                {% for field_errors in form.errors.values %}
                                    {% for error in field_errors %}
                                    <div class="invalid-feedback animated fadeInDown" style="display: block;">{{ error }}</div>
                                    {% endfor %}
                                {% endfor %}
                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="submit" class="btn btn-primary">Salveaza</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}