{% extends 'index.html' %}
{% block content %}
<div class="row>">
    <nav>
        {% if request.user.is_authenticated and request.path != '/' %}
            <span style="color:blue"> Hi, {{ request.user.username|upper }}! </span>
        {% endif %}
        <a class="btn" href="/admin">Admin</a>
        {% if request.user.is_authenticated and request.path != '/' %}
            <a class="btn" href="{% url 'locations:lista_locatii' %}">Locatii</a>
            <a class="btn btn-sm btn-danger" href="{% url 'logout' %}">Logout</a>
            {% if ready_to_work %}
                <a class="btn btn-sm btn-success" href="{% url 'locations:start_pontaj' %}">Pornire Pontaj</a>
            {% else %}
                <a class="btn btn-sm btn-danger" href="{% url 'locations:stop_pontaj' %}">Stop Pontaj</a>
            {% endif %}
            <a class='btn btn-sm btn-primary' href="{% url 'userprofile:utilizator_nou' %}">New Account</a>
        {% endif %}
    </nav>
</div>
    <a class="btn btn-primary" href="{% url 'locations:adaugare' %}">Adauga inregistrare</a>
    <table class="table">
        <thead>
            <tr>
                <th>Index</th>
                <th>City</th>
                <th>Country</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in location_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.city }}</td>
                    <td>{{ item.country }}</td>
                    {% if item.active %}
                        <td>Activ</td>
                    {% else %}
                        <td>Inactiv</td>
                    {% endif %}
{#                    <td>{{ item.active }}</td>#}
                    <td>
                        <a class="btn btn-warning" href="{% url 'locations:modificare' item.id %}">Editare</a>
                        {% if item.active %}
                            <a class="btn btn-danger" href="{% url 'locations:stergere' item.id %}">Stergere</a>
                        {% else %}
                            <a class="btn btn-info" href="{% url 'locations:activare' item.id %}">Activare</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}