<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />
<!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets_dashbord/images/favicon.png' %}">
    <!-- Pignose Calender -->
    <link href="{% static 'assets_dashbord/plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="{% static 'assets_dashbord/plugins/chartist/css/chartist.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets_dashbord/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
    <!-- Custom Stylesheet -->
    <link href="{% static 'assets_dashbord/css/style.css' %}" rel="stylesheet">



<!--    <script src="{% static 'assets_dashbord/plugins/common/common.min.js' %}"></script>-->
<!--    <script src="{% static 'assets_dashbord/js/custom.min.js' %}"></script>-->
<!--    <script src="{% static 'assets_dashbord/js/settings.js' %}"></script>-->
<!--    <script src="{% static 'assets_dashbord/js/gleek.js' %}"></script>-->
<!--    <script src="{% static 'assets_dashbord/js/styleSwitcher.js' %}"></script>-->

<!--    &lt;!&ndash; Chartjs &ndash;&gt;-->
<!--    <script src="{% static 'assets_dashbord/plugins/chart.js/Chart.bundle.min.js' %}"></script>-->
<!--    &lt;!&ndash; Circle progress &ndash;&gt;-->
<!--    <script src="{% static 'assets_dashbord/plugins/circle-progress/circle-progress.min.js' %}"></script>-->
<!--    &lt;!&ndash; Datamap &ndash;&gt;-->
<!--    <script src="{% static 'assets_dashbord/plugins/d3v3/index.js' %}"></script>-->
<!--    <script src="{% static 'assets_dashbord/plugins/topojson/topojson.min.js' %}"></script>-->
<!--    <script src="{% static 'assets_dashbord/plugins/datamaps/datamaps.world.min.js' %}"></script>-->
<!--    &lt;!&ndash; Morrisjs &ndash;&gt;-->
<!--    <script src="{% static 'assets_dashbord/plugins/raphael/raphael.min.js' %}"></script>-->
<!--    <script src="{% static 'assets_dashbord/plugins/morris/morris.min.js' %}"></script>-->
<!--    &lt;!&ndash; Pignose Calender &ndash;&gt;-->
<!--    <script src="{% static 'assets_dashbord/plugins/moment/moment.min.js' %}"></script>-->
<!--    <script src="{% static 'assets_dashbord/plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>-->
<!--    &lt;!&ndash; ChartistJS &ndash;&gt;-->
<!--    <script src="{% static 'assets_dashbord/plugins/chartist/js/chartist.min.js' %}"></script>-->
<!--    <script src="{% static 'assets_dashbord/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>-->



<!--    <script src="{% static 'assets_dashbord/js/dashboard/dashboard-1.js' %}"></script>-->


</head>
<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="{% url 'dashbord:dashbord_index' %}">
                    <h1 class="m-0 text-primary" style="color: white !important"><i class="fa fa-tooth me-2"></i>DentCare</h1>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons">
                            Hello {{ request.user }}
                        </li>
                        <li class="icons dropdown">
                            <div class="c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <i class="icon-arrow-down"></i>
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="{% url 'dashbord:Appointment_view' %}"><i class="icon-user"></i> <span>Dashboard</span></a>
                                        </li>
                                        <hr class="my-2">
                                        <li><a href="{% url 'logout' %}"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                        {% if request.user.is_authenticated %}
                        <ul aria-expanded="false">
                            <li><a href="{% url 'dashbord:Appointment_view' %}">Appointment View</a></li>
                            <!-- <li><a href="./index-2.html">Home 2</a></li> -->
                        </ul>
                        {% endif %}
                        {% if request.user.is_authenticated and request.user.patient %}
                        <ul aria-expanded="false">
                            <li><a href="{% url 'dashbord:Appointment_create' %}">Creare Appointment</a></li>
                            <!-- <li><a href="./index-2.html">Home 2</a></li> -->
                        </ul>
                        {% endif %}
                    </li>
                    <li class="nav-label">Pages</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-notebook menu-icon"></i><span class="nav-text">Pages</span>
                        </a>
                        <ul aria-expanded="false">
                            {% if request.user.is_authenticated and request.user.doctor %}
                                <li><a href="{% url 'dashbord:doctors_update' request.user.doctor.id %}">Change Data</a></li>
                            {% endif %}
                            {% if request.user.is_authenticated and request.user.patient%}
                                <li><a href="{% url 'dashbord:Pacient_update' request.user.patient.id %}">Change Data</a></li>
                            {% endif %}
                            {% if request.user.is_authenticated and request.user.is_superuser %}
                                <li><a href="{% url 'dashbord:doctors_create' %}">Create Doctors</a></li>
                                <li><a href="{% url 'dashbord:Pacient_crete' %}">Create Patients</a></li>
                            {% endif %}
                            <li><a href="{% url 'homepage:index' %}">Homepage</a></li>
                            
                
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        {% block dashbord %}

        {% endblock %}
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{% static 'assets_dashbord/plugins/common/common.min.js' %}"></script>
    <script src="{% static 'assets_dashbord/js/custom.min.js' %}"></script>
    <script src="{% static 'assets_dashbord/js/settings.js' %}"></script>
    <script src="{% static 'assets_dashbord/js/gleek.js' %}"></script>
    <script src="{% static 'assets_dashbord/js/styleSwitcher.js' %}"></script>

    <!-- Chartjs -->
    <script src="{% static 'assets_dashbord/plugins/chart.js/Chart.bundle.min.js' %}"></script>
    <!-- Circle progress -->
    <script src="{% static 'assets_dashbord/plugins/circle-progress/circle-progress.min.js' %}"></script>
    <!-- Datamap -->
    <script src="{% static 'assets_dashbord/plugins/d3v3/index.js' %}"></script>
    <script src="{% static 'assets_dashbord/plugins/topojson/topojson.min.js' %}"></script>
    <script src="{% static 'assets_dashbord/plugins/datamaps/datamaps.world.min.js' %}"></script>
    <!-- Morrisjs -->
    <script src="{% static 'assets_dashbord/plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'assets_dashbord/plugins/morris/morris.min.js' %}"></script>
    <!-- Pignose Calender -->
    <script src="{% static 'assets_dashbord/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'assets_dashbord/plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>
    <!-- ChartistJS -->
    <script src="{% static 'assets_dashbord/plugins/chartist/js/chartist.min.js' %}"></script>
    <script src="{% static 'assets_dashbord/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>



    <script src="{% static 'assets_dashbord/js/dashboard/dashboard-1.js' %}"></script>

</body>

</html>